.container {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 10px auto;
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.btn {
  background-color: rgba(255, 255, 255, 0.2);
  border-style: none;
  margin-left: 15px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  height: 30px;
  width: 80px;
}
