.container {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 10px auto;
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.hr {
  width: 40%;
  margin: 20px auto;
}
.btn {
  border-style: none;
  background-color: rgb(0, 0, 0, 0.1);
  margin-left: 15px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  height: 30px;
  width: 80px;
}
